* {
  margin: 0;
}

body {
  font-family: "Poppins";
}

.overlay {
  width: 0%;
  height: 100%;
  background: #0b172a;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay.open {
  width: 100%;
}

.overlayContent {
  position: relative;
  top: 25%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

#home:hover,
#about:hover {
  color: #2f3b4e;
}

.overlay a {
  font-size: 22px;
  font-weight: 700;
  padding-top: 40px;
  color: #0f2b40;
  opacity: 0;
  text-decoration: none;
  display: block;
}

.overlay a.open {
  color: white;
  opacity: 1;
}

#contact {
  color: #bc4123;
}

#contact:hover {
  color: #ea6f51;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.4);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #bc4123;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: #bc4123;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  background: #bc4123;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: #bc4123;
}

.logoWrapper {
  margin-left: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.logo {
  font-size: 1rem;
  color: white;
}

.megaContainer {
  background-image: url(/stroke.png);
  background-size: cover;
  background-color: #0b172a;
  height: 93vh;
}

.columnLeft h3 {
  font-size: 20px;
  color: #bc4123;
  text-transform: lowercase;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .columnLeft h3 {
    font-size: 25px;
    padding-bottom: 40px;
  }
}

.Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  background: white;
  border-radius: 14px;
  width: 250px;
  height: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form input {
  border: none;
}

@media screen and (min-width: 400px) {
  .form {
    width: 350px;
    height: 600px;
  }
}

@media screen and (min-width: 850px) {
  .form {
    width: 700px;
    height: 67vh;
  }
}

.card--Text {
  width: 180px;
  height: 32px;
  border-radius: 12px;
  background: #dadada;
}

.card--Text::-webkit-input-placeholder {
  font-family: Poppins;
  font-weight: 700;
  color: rgba(188, 65, 35, 0.7);
  padding-left: 10px;
}

.card--Text:-ms-input-placeholder {
  font-family: Poppins;
  font-weight: 700;
  color: rgba(188, 65, 35, 0.7);
  padding-left: 10px;
}

.card--Text::-ms-input-placeholder {
  font-family: Poppins;
  font-weight: 700;
  color: rgba(188, 65, 35, 0.7);
  padding-left: 10px;
}

.card--Text::placeholder {
  font-family: Poppins;
  font-weight: 700;
  color: rgba(188, 65, 35, 0.7);
  padding-left: 10px;
}

@media screen and (min-width: 400px) {
  .card--Text {
    width: 225px;
    height: 40px;
  }
  .card--Text::-webkit-input-placeholder {
    font-size: 12px;
  }
  .card--Text:-ms-input-placeholder {
    font-size: 12px;
  }
  .card--Text::-ms-input-placeholder {
    font-size: 12px;
  }
  .card--Text::placeholder {
    font-size: 12px;
  }
}

@media screen and (min-width: 850px) {
  .card--Text {
    width: 450px;
    height: 45px;
  }
}

.card--Text::-webkit-input-placeholder {
  font-size: 15px;
}

.card--Text:-ms-input-placeholder {
  font-size: 15px;
}

.card--Text::-ms-input-placeholder {
  font-size: 15px;
}

.card--Text::placeholder {
  font-size: 15px;
}

.card--Message {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card--Msg {
  width: 215px;
  height: 218px;
  border-radius: 12px;
  background: #dadada;
  font-family: Poppins;
  font-weight: 700;
  border: none;
  color: #bc4123;
  padding-left: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 400px) {
  .card--Msg {
    width: 300px;
    height: 300px;
    font-size: 12px;
  }
}

@media screen and (min-width: 850px) {
  .card--Msg {
    width: 580px;
    height: 300px;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
}

.card--Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 20px;
}

.btnContainer {
  text-align: center;
  padding-top: 21px;
}

#submit {
  font-family: Poppins;
  color: #bc4123;
  font-size: 15px;
  font-weight: 700;
  background: none;
  border: none;
  text-transform: lowercase;
}

#submit:hover {
  cursor: pointer;
  color: #ea6f51;
}

@media screen and (min-width: 400px) {
  #submit {
    font-size: 18px;
  }
}

@media screen and (min-width: 850px) {
  #submit {
    font-size: 22px;
  }
}

.footer {
  text-align: center;
  font-weight: 700;
  color: #bc4123;
  padding-top: 29px;
  padding-bottom: 29px;
}
/*# sourceMappingURL=contact.css.map */